body
    +light
    color: $text-color
.button-o
    border: 2px solid $primery
    padding: 17px 22px
    font-size: 12px
    background-color: #fff
    text-transform: uppercase
    color: $primery
    +bold
.button
    border: none
    padding: 25px 45px
    text-transform: uppercase
    background-color: $primery
    color: #fff
    +bold